<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">

            <p>
                CodeDaze is a conference dedicated to code, design, development, and everything tech! We will explore the cutting edge tech, best practices, and all things that make our community awesome! Join us at the historic Buffalo Central Library in Downtown Buffalo, NY and become part of this revival of the art of technology!
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                At the first CodeDaze, we saw speakers touch on everything from emerging languages, to mental health in tech, to best design practices, to hardware and software interfaces. We expect Volume 2 to be even more exciting - don’t miss out!
            </p>
        </div>
    </div>
    <h2 align = 'center'><a href = 'https://ti.to/codedaze-vol-2/codedaze-vol-2' target = _new>Tickets on sale now!</a></h2>
    <!-- <p align = 'center'><a href = 'https://www.papercall.io/codedazevol2' target = _new>CFP open until April 30th, 2018 - apply to speak now!</a></p> -->
</section>
