<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contacts</h1>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:pj@elixirdaze.com">
                    pj@elixirdaze.com
                </a>
            </div>
            <hr noshade>
            <h4 align = 'center'><a href = 'https://github.com/CodeDaze/code-of-conduct/blob/master/code_of_conduct.md' target = _new>Code of Conduct</a> | <a href = './docs/Rules_of_Conduct_Policy.pdf'>Library Rules of Conduct</a></h4>
        </div>
    </div>
</footer>
