<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
          <div class = 'photo-row' align = 'center'>
              <h3 align = 'center'>Keynotes</h3>
              <p>
                <a href = 'http://twitter.com/editingemily' target = _new><img src = './img/Emily_Freeman.jpg' alt = 'Emily Freeman' /></a>
                &nbsp;
                <a href = 'http://twitter.com/avdi' target = _new><img src = './img/Avdi_Grimm.png' alt = 'Avdi Grimm' /></a>
              </p>
          </div>
          <div class ='photo-row' align = 'center'>
            <h3 align = 'center'>Speakers</h3>
            <p>
              <a href = 'http://twitter.com/markbates' target = _new><img src = './img/Mark_Bates.jpg' alt = 'Mark Bates'></a>
              <a href = 'http://twitter.com/aardrian' target = _new><img src = './img/Adrian_Roselli.jpg' alt = 'Adrian Roselli'></a>
              <a href = 'http://twitter.com/kerrizor' target = _new><img src = './img/Kerri_Miller.jpg' alt = 'Kerri Miller'></a>
            </p>
          </div>
          <div class ='photo-row' align = 'center'>
            <p>
              <a href = 'https://twitter.com/amynewell' target = _new><img src = './img/Amy_Newell.png' alt = 'Amy Newell'></a>
              <a href = 'http://twitter.com/samphippen' target = _new><img src = './img/Sam_Phippen.jpg' alt = 'Sam Phippen'></a>
              <a href = 'http://twitter.com/jilljubs' target = _new><img src = './img/Jill_Jubinski.jpg' alt = 'Jill Jubinski'></a>
            </p>
          </div>
          <div class ='photo-row' align = 'center'>
            <p>
              <a href = 'http://twitter.com/jameybash' target = _new><img src = './img/Jameson_Hampton2.jpg' alt = 'Jameson Hampton'></a>
              <a href = 'https://twitter.com/CoralineAda' target = _new><img src = './img/Coraline_Ada_Ehmke.jpg' alt = 'Coraline Ada Ehmke'></a>
              <a href = 'http://twitter.com/crayzeigh' target = _new><img src = './img/Aaron_Aldrich.jpg' alt = 'Aaron Aldrich'></a>
            </p>
          </div>
          <div class ='photo-row' align = 'center'>
            <p>
              <a href = 'http://twitter.com/ShyRuparel' target = _new><img src = './img/Shy_Ruparel.jpg' alt = 'Shy Ruparel'></a>
              <a href = 'https://twitter.com/floordrees' target = _new><img src = './img/Floor_Drees.jpg' alt = 'Floor Drees'></a>
              <a href = 'http://twitter.com/hayleydenb' target = _new><img src = './img/hdenbraver.jpg' alt = 'Hayley Denbraver'></a>
            </p>
          </div>
          <div class ='photo-row' align = 'center'>
            <p>
              <a href = 'http://twitter.com/grmpyprogrammer' target = _new><img src = './img/Chris_Hartjes.jpg' alt = 'Chris Hartjes'></a>
              <a href = 'http://twitter.com/hone02' target = _new><img src = './img/TerenceAndChase.png' alt = 'Terence Lee and Chase McCarthy'></a>
              <a href = 'https://www.linkedin.com/in/jessicatai/' target = _new><img src = './img/Jessica_Tai.jpg' alt = 'Jessica Tai'></a>
            </p>
          </div>
          <div class ='photo-row' align = 'center'>
            <h3 align = 'center'>Your Hosts</h3>
            <p>
              <a href = 'https://twitter.com/aspleenic' target = _new><img src = './img/pj_headshot.png' alt = 'PJ Hagerty'></a>
              <a href = 'http://twitter.com/johnny_rugger' target = _new><img src = './img/johnny.jpeg' alt = 'Johnny Winn'></a>
              <a href = 'http://twitter.com/QuintessenceAnx' target = _new><img src = './img/Quin.jpg' alt = 'Quintessence Anx'></a>
            </p>
          </div>

          <!-- <div class ='photo-row' align = 'center'>
            <p align = 'center'>
              <img src = './img/user-512.png' alt = 'Maybe you?'><br /><a href = 'https://www.papercall.io/codedazevol2' target = _new>Maybe You?</a> - CFP Open until April 30th!
            </p>
          </div> -->
        </div>
        <hr noshade>
    </div>
</section>
