<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
          <div class = 'photo-row' align = 'center'>
              <h3 align = 'center'>Keynotes</h3>
              <p>
                <a href = 'http://twitter.com/editingemily' target = _new><img src = './img/Emily_Freeman.jpg' alt = 'Emily Freeman' /></a>
                &nbsp;
                <a href = 'http://twitter.com/avdi' target = _new><img src = './img/Avdi_Grimm.jpg' alt = 'Avdi Grimm' /></a>
              </p>
          </div>
          <!--
          <div class ='photo-row' align = 'center'>
            <h3 align = 'center'>Speakers</h3>
            <p>
              <a href = 'http://twitter.com/markbates' target = _new><img src = './img/Mark_Bates.jpg' alt = 'Mark Bates'></a>
              <a href = 'http://twitter.com/aardrian' target = _new><img src = './img/Adrian_Roselli.jpg' alt = 'Adrian Roselli'></a>
              <a href = 'http://twitter.com/kerrizor' target = _new><img src = './img/Kerri_Miller.jpg' alt = 'Kerri Miller'></a>
            </p>
          </div> -->
          <div class ='photo-row' align = 'center'>
            <p align = 'center'>
              <img src = './img/user-512.png' alt = 'Maybe you?'><br /><a href = 'https://www.papercall.io/codedazevol2' target = _new>Maybe You?</a> - CFP Open until April 30th!
            </p>
          </div>
        </div>
        <hr noshade>
    </div>
</section>
