<section class="container container-schedule">
  <hr noshade>
    <div class="row">
        <div class="col-md-12">
            <h1>Schedule</h1>
        </div>
        <div class="col-md-12">
          <table>
            <colgroup>
              <col width="30%" />
              <col width="50%" />
            </colgroup>
            <tr>
              <td align = 'center'><h5>Day One - September 14th</h5></td>
              <td align = 'center'><h5>Time</h5></td>
              <td align = 'center'><h5>Day Two - September 15th</h5></td>
            </tr>
            <tr>
              <td align = 'center'>Breakfast/Registration</td>
              <td align = 'center'>8:00 - 9:00</td>
              <td align = 'center'>Breakfast/Registration</td>
            </tr>
            <tr>
              <td align = 'center'>Opening Comments</td>
              <td align = 'center'>9:00 - 9:15</td>
              <td align = 'center'>Opening Comments</td>
            </tr>
            <tr>
              <td align = 'center'>Keynote: Avdi Grimm</td>
              <td align = 'center'>9:15 - 10:00</td>
              <td align = 'center'>Keynote - Emily Freeman</td>
            </tr>
            <tr>
              <td align = 'center'>Go Buffalo</td>
              <td align = 'center'>10:10 - 10:45</td>
              <td align = 'center'>Title Pending</td>
            </tr>
            <tr>
              <td align = 'center'>The Great Migration: From Monolith to SOA</td>
              <td align = 'center'>10:50 - 11:20</td>
              <td align = 'center'>Testing Frameworks Aren't Enough to Save You</td>
            </tr>
            <tr>
              <td align = 'center'>Serverless Python & The Secret Origin of the Power Rangers</td>
              <td align = 'center'>11:30 - 12:05</td>
              <td align = 'center'>You want to change the world? Start by taking responsibility</td>
            </tr>
            <tr>
              <td align = 'center'>Lunch</td>
              <td align = 'center'>12:05 - 13:30</td>
              <td align = 'center'>Lunch</td>
            </tr>
            <tr>
              <td align = 'center'>A Little on Accessibility</td>
              <td align = 'center'>13:30 - 14:05</td>
              <td align = 'center'> A Primer on Functional Programming</td>
            </tr>
            <tr>
              <td align = 'center'>We are 3000 Years Behind: Let's Talk About Engineering Ethics</td>
              <td align = 'center'>14:05 - 14:40</td>
              <td align = 'center'>Distributed by Design: A Feature, not a Bug</td>
            </tr>
            <tr>
              <td align = 'center'>Break</td>
              <td align = 'center'>14:40 - 14:55</td>
              <td align = 'center'>Break</td>
            </tr>
            <tr>
              <td align = 'center'>A Droid's Journey with mRuby & Go</td>
              <td align = 'center'>14:55 - 15:30</td>
              <td align = 'center'>Talking about Mental Health in Tech</td>
            </tr>
            <tr>
              <td align = 'center'>Title Pending</td>
              <td align = 'center'>15:35 - 16:10</td>
              <td align = 'center'>Lessons in Ethical Development I Learned from Star Wars</td>
            </tr>
            <tr>
              <td align = 'center'>Alice's Adventures in AI-land</td>
              <td align = 'center'>16:20 - 17:05</td>
              <td align = 'center'>Title Pending</td>
            </tr>
            <tr>
              <td align = 'center'>Closing Comments</td>
              <td align = 'center'>17:05 - 17:15</td>
              <td align = 'center'>Closing Comments</td>
            </tr>
          </table>
        </div>
    </div>
    <hr noshade>
</section>
