<section class="container container-sponsors">
    <div class="row">
        <div class="col-md-12">
            <h1>Sponsors</h1>
        </div>
        <div class="col-md-12">
          <h3>Gold Sponsors</h3>
            <a href = 'http://devrelate.io' target = _new><img src = './img/devrelate_logo.png' ></a>
          <hr noshade>
          <h3>Silver Sponsors</h3>
          <hr noshade>
          <h3>Bronze Sponsors</h3>
            <a href = 'http://mhprompt.org' target = _new><img src = './img/prompt.png' ></a> &nbsp;
            <a href = 'http://michelada.io' target = _new><img src = './img/michelada_logo.png' ></a>
          <hr noshade>
          <h3>Community Sponsors</h3>
            <a href = 'http://http://www.elixirfountain.com' target = _new><img src = './img/ef-logo.png' ></a>
            <a href = 'http://http://communitypulse.io' target = _new><img src = './img/cp-header.png' ></a>
          <hr noshade>
          <br />

          <p align = 'center'>Interested in Sponsoring? <a href = 'mailto:pj@elixirdaze.com'>Click here to get in touch</a> or <a href = './docs/CodeDaze_Prospectus.pdf' target = _new>here for the Prospectus</a></p>
        </div>
    </div>
</section>
