<section class="container container-venue">
    <div class="row">
        <div class="col-md-12">
            <h1>Venue</h1>
        </div>
        <div class="col-md-12">
          <h3>The Buffalo and Erie County Central Library Auditorium</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.4081324875424!2d-78.87378238386714!3d42.8853351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d3124850ac6cc7%3A0x13501664dae56907!2sBuffalo+%26+Erie+County+Public+Library!5e0!3m2!1sen!2sus!4v1520629038083" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>
